title {
  color: gray;
}
.items h1 {
  color: white;
  font-size: 38px;
  margin-bottom: 20px;
  font-weight: bold;
}
.items .itemsBottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.items .itemsBottom a {
  font-size: 26px;
  color: #6d6d6d;
  display: inline-block;
  margin-left: 18px;
  margin-bottom: 20px;
  text-decoration: none;
}
.items .itemsBottom a:hover {
  color: #ee942c !important;
  transition: all 0.2s linear;
}
.items .itemsBottom a:nth-of-type(1) {
  margin-left: 0px;
}
.items .itemsBottom a:nth-of-type(18) {
  margin-left: 0px;
}
.items {
  width: 1800px;
  height: auto;
  margin: 50px auto;
}
