/* body {
  margin: 0;
} */
.container {
  height: 500px;
  top: 0;
}
#v1 {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  min-width: 100%;
  /* min-height: 100%; */
  width: auto;
  height: auto;
  z-index: -9999;
  /* height: 520px; */
}
.container .header {
  display: flex;
  align-items: center;
  margin-top: 18px;
  margin-left: 40px;
}
.container .header .header-logo {
  color: #c88f8e;
  font-size: 35px;
  margin-right: 50px;
}
.container .header .header-content {
  display: flex;
}
.container .header .header-content .header-menu {
  color: white;
  font-size: 24px;
  margin-right: 40px;
}
.container .header .header-content .header-menu:hover {
  color: #c88f8e;
  cursor: pointer;
}
.container .header .dl-button {
  width: 88px;
  height: 39px;
  border-radius: 10px;
  background: url('https://p0.ssl.qhimg.com/t014fb85d7fa1e75f29.png') center center no-repeat;
  margin-left: 1050px;
  cursor: pointer;
  font-size: 28px;
  text-align: center;
  line-height: 39px;
  color: white;
  text-decoration: none;
}
.container .header .dl-button:hover {
  opacity: 0.8;
}
.container .header .dl-menu {
  background: url("../images/menu.png") center center no-repeat;
  width: 49px;
  height: 49px;
  background-size: 100% 100%;
  margin-left: 0px;
}
.container .search {
  width: 800px;
  height: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.container .search .search-logo {
  color: #c88f8e;
  font-size: 35px;
  font-weight: bold;
}
.container .search .search-news {
  color: white;
  font-size: 35px;
  margin-left: 15px;
}
form {
  display: block;
  margin-top: 20px;
}
form input {
  outline: none;
  /* 设置我们要的样式 */
  width: 770px;
  height: 50px;
  text-indent: 30px;
  border: none;
  border-radius: 46px;
  font: normal normal 800 22px/23px Apple SD Gothic Neo;
  letter-spacing: 0px;
  color: #000000de;
}
form input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.container .search .search-png {
  position: absolute;
  height: 37px;
  margin-top: 7px;
  margin-left: -67px;
}
/* 热点部分 */
.container .hot-news {
  text-align: center;
  position: absolute;
  top: 303px;
  left: 50%;
  transform: translateX(-57%);
}
.container .hot-news .hot-news-img {
  height: 30px;
  top: -2px;
  position: absolute;
  left: -45px;
}
.container .hot-news a {
  font-size: 20px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}
.container .hot-news a:hover {
  opacity: 0.8;
}
